<section class="trust-section">
    <div class="container">
        <div class="trust-indicators">
            <div class="trust-item">
                <div class="trust-icon"></div>
                <h3>Dostupni 24/7</h3>
                <p>Uvijek spremni za hitne intervencije, bez obzira na dan i vrijeme</p>
            </div>

            <div class="trust-item">
                <div class="trust-icon"></div>
                <h3>{{ 'now' | date: "%Y" | minus: site.established_year }}+ Godina Iskustva</h3>
                <p>Dugogodišnje iskustvo u međunarodnom prevozu pokojnika</p>
            </div>

            <div class="trust-item">
                <div class="trust-icon"></div>
                <h3>Kompletna Dokumentacija</h3>
                <p>Brinemo o svim papirima, dozvolama i carinskim formalnostima</p>
            </div>

            <div class="trust-item">
                <div class="trust-icon"></div>
                <h3>Moderan Vozni Park</h3>
                <p>Specijalizovana vozila najnovije generacije za dostojanstven transport</p>
            </div>

            <div class="trust-item">
                <div class="trust-icon"></div>
                <h3>Sva Europa</h3>
                <p>Pokrivamo sve zemlje EU i sve države Balkana</p>
            </div>

            <div class="trust-item">
                <div class="trust-icon"></div>
                <h3>Licencirano i Osigurano</h3>
                <p>Potpuna profesionalna licenca i osiguranje za sve vrste transporta</p>
            </div>
        </div>
    </div>
</section>